<% @page_title="Plant Calendar" %>
<%= render 'layouts/header' %>

<div id="plant_watering">
	<%= calendar do |date| %>
		<%= date.day %>
		
		<% if @personal_plants_by_date[date] %>
			<% @personal_plants_by_date[date].each do |personal_plant| %>
				
				<% if false then %>
				<ul>
					<li><%= personal_plant[:name_personalized] %></li>
				</ul>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>

<%= render 'layouts/footer' %>
