<script src="//cdn.optimizely.com/js/141325595.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<div class="garden-background">
<div id="login_info">
  <p id="notice"><%= notice %></p>

  <div class="overlay">
  <%= form_for @user, :url => {:action => "login"} do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.text_field :username, :placeholder=>"Username"%>
    </div>
    <div class="field">
      <%= f.password_field :password, :placeholder=>"Password" %>
    </div>
    <div class="actions">
      <%= f.submit "Log In" %>
    </div>
  <% end %>
  	<br/>
    <p>
      Don't have an account? <%= link_to 'Sign Up Now', new_user_path %>
    </p>
  </div>
</div>
</div>