<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name_first %> <%= @user.name_middle %> <%= @user.name_last %>
</p>
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  View your <%= link_to 'plants', plants_path %> to our database
</p>
<p>
  View your <%= link_to 'personal plants', personal_plants_path %> to your collection
</p>
