<div data-role="page" id="home_one">

	<%= render '/layouts/header' %>

	<div class="user-home-name">
		<p>
  		<b>Account Information</b>
		</p>
	</div>
  <div class="basic_info">
    <p>
  		<%= @user.name_first + " " + @user.name_last %>
    </p>
    <p>
      <%= @user.email %>
    </p>
  </div>

  <div>
  	<a href="/users/logout" data-role="button" data-ajax="false">
    logout
  </a>
  </div>
  <%= render '/layouts/footer' %>
</div>


















<% if false then %>
<div data-role="page" id="home_one">

	<%= render '/layouts/header' %>

	<div class="user-home-name">
		<p>
  		<b>Welcome Back, <%= @user.name_first.capitalize %>!</b>
		</p>
	</div>
	<div class="ui-block-a">
    <p><a href="#home_two" data-role="button">Next Page</a></p> 
  </div>
  <%= render '/layouts/footer' %>
</div>



</div><!-- End of page one -->

<div data-role="page" id="home_two">

	<%= render '/layouts/header' %>

	<div data-role="content" id="login_info">
		Wowzers
	</div>
	<%= render '/layouts/footer' %>
</div>

<script type="text/javascript">
	
</script>

<% end %>
