	<% @page_title = "Home" %>
<%= render '/layouts/header' %>
<div data-role="content">
  <span class="shrinkwrap">
    <p>
  		<b><%= @user.name_first + " " + @user.name_last %></b>
    </p>
    <p>
      <b><%= @user.email %></b>
    </p>
  </span>
  
  <div data-role="collapsible" class="collapsing" data-iconpos="right" data-collapsed="false" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u">
	<h3>Your gardens</h3>
	<ul data-role="listview" data-inset="true">
		<% for garden in @gardens do %>
          
          <li data-theme="c">
            <a href="/gardens/<%= garden[:id] %>" data-ajax="false" data-transition="slide">
              <%= garden[:name] %>
            </a>
          </li> 

        <% end %>
        <% if @gardens.size > 0 then %>
        	<li data-theme="e" data-icon="plus" style="border-bottom:1px solid black;">
        		<a href="/gardens/new" data-ajax="false">
    				Add a new garden
  				</a>
  			</li>
  		<% else %>
  			<li data-theme="e" data-icon="plus" style="border-bottom:1px solid black;">
        		<a href="/gardens/new" data-ajax="false">
    				Add your first garden
  				</a>
  			</li>
  		<% end %>
  	</ul>
  </div>
  
  <div data-inset="true" data-role="collapsible" class="collapsing" data-iconpos="right" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u">
	<h3>Your plants</h3>
	<ul data-role="listview" data-inset="true">
		<% for plant in @plants do %>
          
          <li data-theme="c">
            <a href="/personal_plants/<%= plant[:id] %>" data-ajax="false" data-transition="slide">
              <%= plant[:name_personalized] %>
            </a>
          </li> 

        <% end %>
        
          <li data-theme="e" data-icon="search" style="border-bottom:1px solid black;">
          	<a href="/plants" data-ajax="false">
     		 Search for plants
    		</a>
    	  </li>
  	</ul>
  </div>


  <div id="logout_button">
  	<a href="/users/logout" data-role="button" data-ajax="false">
    Log out
  </a>
  </div>
  
  <%= render '/layouts/footer' %>

</div>









<% if false then %>
<div data-role="page" id="home_one">

	<%= render '/layouts/header' %>

	<div class="user-home-name">
		<p>
  		<b>Welcome Back, <%= @user.name_first.capitalize %>!</b>
		</p>
	</div>
	<div class="ui-block-a">
    <p><a href="#home_two" data-role="button">Next Page</a></p> 
  </div>
  <%= render '/layouts/footer' %>
</div>



</div><!-- End of page one -->

<div data-role="page" id="home_two">

	<%= render '/layouts/header' %>

	<div data-role="content" id="login_info">
		Wowzers
	</div>
	<%= render '/layouts/footer' %>
</div>

<script type="text/javascript">
	
</script>

<% end %>
