<%= render '/layouts/header' %>
<div data-role="content">
	
	
		<div data-role="collapsible" data-iconpos="right" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u" data-collapsed="false" data-inset="true">
  			<h3>Plant information</h3>
  			<span class="shrinkwrap">
  				<b>
      			<% if @plant.name_common %>  
      				<%= @plant.name_common %> 
	 			 <% end %>
	  			<% if @plant.name_botanical %>
      				<i>(<%= @plant.name_botanical %>)</i>
      				<br /><br />
      			<% end %>
      			</b>

      			<% if @plant.description %>
      				<b>Description:</b>
      				<%= @plant.description %>

      				<br /><br />
      			<% end %>
  			</span>
  		</div>
  		
  		
</div>

<%if false%>
<% @page_title = @plant.name_common %>

<div data-role="page" id="plant_info_one">
  
  <%= render '/layouts/header' %>

  <div data-role="navbar" data-iconpos="left">
    <ul>
      <li>
        <a href="#plant_info_one" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
          Name Info
        </a>
      </li>
      <li>
        <a href="#plant_info_two_man" data-theme="" data-icon="">
          Caring Info
        </a>
      </li>
    </ul>
  </div>

  <div class="names">
    <div class="plant_name">

      <% if @plant.name_common %>  
      <b>Common Plant Name:</b>
      <%= @plant.name_common %>

      <br /><br />

      <% end %>

      <% if @plant.name_botanical %>
      <b>Botanical Plant Name:</b>
      <%= @plant.name_botanical %>

      <br /><br />
      <% end %>

      <% if @plant.description %>
      <b>Description of plant:</b>
      <%= @plant.description %>

      <br /><br />
      <% end %>
    </div>
  </div>

  <%= render '/layouts/footer' %>

</div>

<!--</div>-->

<div data-role="page" id="plant_info_two_man">

  <%= render '/layouts/header' %>

  <div data-role="navbar" data-iconpos="left">
    <ul>
      <li>
        <a href="#plant_info_one" data-theme="" data-icon="">
          Basic Info
        </a>
      </li>
      <li>
        <a href="#plant_info_two_man" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
          Caring Info
        </a>
      </li>
    </ul>
  </div>


<div class="names">
    <div class="plant_name">
      <% if @plant.plant_type %>
      <b>Type of Plant:</b>
      <%= @plant.plant_type %>
      <% end %>
      
      <br /><br />
    <% if @plant.is_houseplant %>  
      <b>Is this plant a house plant:</b>
      <% if @plant.is_houseplant then %>
        Yes
      <% else %>
        No
      <% end %>
    <% end %>


      <% if @plant.watering_weekly_amount %>
      <b>How frequently to water your plant:</b>
      <%= @plant.watering_weekly_amount %> times per week
      <% end %>
      
      <br /><br />
      
      <% if false then %>
      <% if @plant.watering_frequency_old %>
      <b>Water frequency:</b>
      <%= @plant.watering_frequency_old %>
      <% end %>
      <% end %>

      <% if @plant.sun_exposure %>
      <b>Percentage of Sun exposure your plant needs:</b>
      <%= @plant.sun_exposure %>% Sun
      <% end %>
    </div>
  </div>
  
  <%= render '/layouts/footer' %>
  
</div>
<%end%>

