<%= @plant.name_common %>

<p id="notice"><%= notice %></p>

<div id='show-plants'>
<div id='name'>
  <b>Plant Name:</b>
  <%= @plant.name_common %>
  
  <br />
  
  <b>Botanical Name:</b>
  <%= @plant.name_botanical %>
  
  <br />

  <b>Description:</b>
  <%= @plant.description %>
</div>

<div id='plant-basic-info'>
  <b>Plant type:</b>
  <%= @plant.plant_type %>
  
  <br />
  
  <b>Is houseplant:</b>
  <%= @plant.is_houseplant %>
</div>

<div id='plant-water-info'>
  <b>Water weekly:</b>
  <%= @plant.watering_weekly_amount %>
  
  <br />
  
  <b>Water frequency:</b>
  <%= @plant.watering_frequency_old %>
</div>

<div id='plant-sun-info'>
  <b>Sun exposure:</b>
  <%= @plant.sun_exposure %> 
</div>
</div>
