<%= form_for(@garden) do |f| %>
  <% if @garden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garden.errors.count, "error") %> prohibited this garden from being saved:</h2>

      <ul>
      <% @garden.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder=>"Name" %>
  </div>
  <div class="field">
    <%= f.text_field :city, :placeholder=>"City" %>
  </div>
  <div class="field">
    <%= f.text_field :state, :placeholder=>"State"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
