<h1>Listing gardens</h1>


<div data-role="content">
  <div id="iphone_container">
  <ul data-role="listview" data-divider-theme="b" data-inset="true">
    <li data-role="list-divider" role="heading">
      Divider
    </li>
    <% for garden in @gardens do %>
      
      <li data-theme="c">
        <a href="/gardens/<%= garden[:id] %>" data-transition="slide">
          <%= garden[:name] %>
        </a>
      </li> 

    <% end %>
    
    <!--
    <li data-theme="c">
      <a href="/gardens/1" data-transition="slide">
        Front Yard
      </a>
    </li>
    <li data-theme="c">
      <a href="/gardens/2" data-transition="slide">
        Back Yard
      </a>
    </li>
    -->

  </ul>

<a data-role="button" data-theme="e" href="/gardens/new">
  Create New Garden
</a>
</div>
</div>
            















<% if false then %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gardens.each do |garden| %>
  <tr>
    <td><%= garden.name %></td>
    <td><%= link_to 'Show', garden %></td>
    <td><%= link_to 'Edit', edit_garden_path(garden) %></td>
    <td><%= link_to 'Destroy', garden, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Garden', new_garden_path %>
<% end %>
