
<%= render "/layouts/header" %>

<p id="notice"><%= notice %></p>

<a data-role="button" href="/gardens?def=0" data-theme="a" data-ajax="false" >
   Your Gardens
</a>

<p>
  <b>Name:</b>
  <%= @garden.name %>
</p>

<div data-role="content">
  <div id="iphone_container">
  <% if @plants_in_garden.size > 0 then %>
    <ul data-role="listview" data-divider-theme="b" data-inset="true">
      <li data-role="list-divider" role="heading">
        Your Plants
      </li>
      <% for plant in @plants_in_garden do %>
        <li data-theme="c">
          <a href="/personal_plants/<%= plant[:id] %>" data-ajax="false" data-transition="slide">
            <%= plant[:name_personalized] %>
          </a>
        </li>
      <% end %>
    </ul>
  <% else %>
    You don't have any Plants in this Garden
  <% end %>


    <a data-role="button" data-theme="e" href="/personal_plants/new?garden_id=<%=@garden[:id] %>" data-ajax="false">
      Add a New Plant!
    </a>

    <a data-role="button" href="/weather?garden=<%= @garden[:id] %>" id="weather" data-theme="a" data-ajax="false" >
       Weather
    </a>
  </div>
</div>

<%= render "/layouts/footer" %>