

<% if notice %>
<span class="shrinkwrap" id="notice"><%= notice %></span>
<% end %>
<% @page_title= @garden.name %>
<%= render "/layouts/header" %>
<div data-role="content" onload="init_map()">
		<div data-role="collapsible" data-iconpos="right" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u" data-collapsed="false">
			<h3>Your Plants</h3>
			<ul data-role="listview" data-inset="true">
				<% for plant in @plants_in_garden do %>
        		<li data-theme="c">
          			<a href="/personal_plants/<%= plant[:id] %>" data-ajax="false" data-transition="slide">
            			<%= plant[:name_personalized] %>
          			</a>
        		</li>
      			<% end %>
      			<li data-theme="e" data-icon="plus" style="border-bottom:1px solid black;">
      				<a href="/personal_plants/new?garden_id=<%=@garden[:id] %>">
      					Add a new plant to this garden
      				</a>
      			</li>
      		</ul>
      	</div>
      	
      	<div data-role="collapsible" data-iconpos="right" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u" expand="init_map()">
      		<h3>Current weather</h3>
      		<span class="shrinkwrap">
      			<h3><%= @weather.location %></h3>
      			<p><%= @weather.description %></p>
      			<img id="weather-image" src=<%=@weather.imgURL%>>
				<div id="weather-temp"><b><%=@weather.temp%>&degF</b></div>
				<table>
					<tr><td><b>Precipitation: </b><%=@weather.precipMM%> <i>mm</i></td></tr>
					<tr><td><b>Wind Speed: </b><%=@weather.windSpeed%> <i>mph</i></td></tr>

				</table>
			</span>
		</div>
      	
      	
      	
      	
    </div>
</div>
     


<%if false%>
<div data-role="content">
  <div id="iphone_container">
  <% if @plants_in_garden.size > 0 then %>
    <ul data-role="listview" data-divider-theme="b" data-inset="true">
      <li data-role="list-divider" role="heading">
        Your Plants
      </li>
      <% for plant in @plants_in_garden do %>
        <li data-theme="c">
          <a href="/personal_plants/<%= plant[:id] %>" data-ajax="false" data-transition="slide">
            <%= plant[:name_personalized] %>
          </a>
        </li>
      <% end %>
    </ul>
  <% else %>
    You don't have any Plants in this Garden
  <% end %>


    <a data-role="button" data-theme="e" href="/personal_plants/new?garden_id=<%=@garden[:id] %>" data-ajax="false">
      Add a New Plant!
    </a>

    <a data-role="button" href="/weather?garden=<%= @garden[:id] %>" id="weather" data-theme="b" data-ajax="false" >
       Weather
    </a>

    <% if false then %>
    <a data-role="button" href="/garden_waterings/new?garden=<%= @garden[:id] %>" id="garden_waterings" data-theme="a" data-ajax="false" >
       Add Watering
    </a>
    <% end %>
</div>

<%= render "/layouts/footer" %>
<%end%>
