
      <script>
        var plants = JSON.parse('<%=raw @plants.to_json %>');

      </script>

<div data-role="page" id="one">

  <div data-role="header">
    <h1>Multi-Page</h1>
  </div><!-- /header -->





  <% if not @plant_id then %> <!-- this is hit if no plant has been chosen -->




  <div class="field">
    <fieldset data-role="controlgroup" data-type="vertical">
      <ul data-role="listview" data-filter="true" data-filter-placeholder="Search for a plant" data-inset="true">

        <% for plant in @plants do %>
          <li data-filtertext="<%= plant[:name_common] %> <%= plant[:name_botanical] %> <%= plant[:plant_type] %>">
            <a href="?garden_id=<%= @garden_id %>&plant_id=<%= plant[:id] %>">
              <%= plant[:name_common] %>
            </a>
          </li>
        <% end %>

      </ul>
    </fieldset>
  </div>

  <% else %> <!-- this is hit if a plant has already been chosen and the user is ready to input the rest of the data -->

    <%= form_for @personal_plant do |p| %>
      <% if @plant.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

          <ul>
          <% @plant.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <div class="field">
        <%= p.label :name_personalized %><br />
        <%= p.text_field :name_personalized %>
      </div>
      
      <div class="field">
        <%= p.hidden_field :garden_id, { :value => @garden_id } %>
        <%= p.hidden_field :plant_id, { :value => @plant_id } %>
        <%= p.hidden_field :user_id, { :value => session[:user][:id] } %>
      </div>
    
      <div class="actions">
        <%= p.submit %>
      </div>

  <% end %>





  <div class="ui-block-a">
    <p><a href="#new_personal_plant_two" data-role="button">Next</a></p> 
  </div>

  <div data-role="footer" data-id="samebar" class="nav-glyphish-example" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar" data-iconpos="top">
       <ul>
           <li>
              <% if params[:controller] == 'users' then %>
                <a href="/home/index" id="home" data-icon="custom" class="ui-btn-active">
                   Home
                </a>
              <% else %>
                <a href="/home/index" id="home" data-icon="custom">
                   Home
                </a>
              <% end %>
           </li>
           <li>
              <% if params[:controller] == 'gardens' then %>
                <a href="/gardens" id="garden" data-icon="custom" class="ui-btn-active">
                   Gardens
                </a>
              <% else %>
                <a href="/gardens" id="garden" data-icon="custom">
                   Gardens
                </a>
              <% end %>
           </li>
           <li>
              <% if params[:controller] == 'plants' then %>
                <a href="/plants" id="plants" data-icon="custom" class="ui-btn-active">
                   Plants
                </a>
              <% else %>
                <a href="/plants" id="plants" data-icon="custom">
                   Plants
                </a>
              <% end %>
           </li>
           <li>
              <% if params[:controller] == 'weather' then %>
                <a href="/weather" id="weather" data-icon="custom" class="ui-btn-active">
                   Weather
                </a>
              <% else %>
                <a href="/weather" id="weather" data-icon="custom">
                   Weather
                </a>
              <% end %>
           </li>
           <li>
              <% if params[:controller] == 'community' then %>
                <a href="/community" id="community" data-icon="custom" class="ui-btn-active">
                   Community
                </a>
              <% else %>
                <a href="/community" id="community" data-icon="custom">
                   Community
                </a>
              <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>







<% if false then %>
</div>

<div data-role="page" id="new_personal_plant_two">

  <div data-role="header">
    <h1>Multi-Page</h1>
  </div><!-- /header -->

  <div data-role="content">
    <h2>Welcome <span id="username"></span></h2>

    <p>meow</p>
    <h3>Show internal pages:</h3>
    <p><a href="#two" data-role="button">Show page "two"</a></p>
    <p><a href="#popup" data-role="button" data-rel="dialog" data-transition="pop">Show page "popup"</a></p>
  </div><!-- /content -->
  <div data-role="footer" data-id="samebar" class="nav-glyphish-example" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar" data-iconpos="top">
       <ul>
           <li>
              <% if params[:controller] == 'users' then %>
                <a href="/home/index" id="home" data-icon="custom" class="ui-btn-active">
                   Home
                </a>
              <% else %>
                <a href="/home/index" id="home" data-icon="custom">
                   Home
                </a>
              <% end %>
           </li>
           <li>
              <% if params[:controller] == 'gardens' then %>
                <a href="/gardens" id="garden" data-icon="custom" class="ui-btn-active">
                   Gardens
                </a>
              <% else %>
                <a href="/gardens" id="garden" data-icon="custom">
                   Gardens
                </a>
              <% end %>
           </li>
           <li>
              <% if params[:controller] == 'plants' then %>
                <a href="/plants" id="plants" data-icon="custom" class="ui-btn-active">
                   Plants
                </a>
              <% else %>
                <a href="/plants" id="plants" data-icon="custom">
                   Plants
                </a>
              <% end %>
           </li>
           <li>
              <% if params[:controller] == 'weather' then %>
                <a href="/weather" id="weather" data-icon="custom" class="ui-btn-active">
                   Weather
                </a>
              <% else %>
                <a href="/weather" id="weather" data-icon="custom">
                   Weather
                </a>
              <% end %>
           </li>
           <li>
              <% if params[:controller] == 'community' then %>
                <a href="/community" id="community" data-icon="custom" class="ui-btn-active">
                   Community
                </a>
              <% else %>
                <a href="/community" id="community" data-icon="custom">
                   Community
                </a>
              <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<% end %>






























  <% if false then %>
  <div id="new-plant-fields">
    <div class="field">
      <%= f.label :name_common %><br />
      <%= f.text_field :name_common %>
    </div>
    <div class="field">
      <%= f.label :name_botanical %><br />
      <%= f.text_field :name_botanical %>
    </div>
    <div class="field">
      <%= f.label :plant_type %><br />
      <%= f.text_field :plant_type %>
    </div>
  </div>
  <div id="old-plant-fields">
    <div class="field">
      <%= f.hidden_field :id %>
    </div>
    <div class="field">
      <%= f.label :name_common %><br />
      <%= f.text_field :name_common %>
    </div>
    <div class="field">
      <%= f.label :name_botanical %><br />
      <%= f.text_field :name_botanical %>
    </div>
    <div class="field">
      <%= f.label :plant_type %><br />
      <%= f.text_field :plant_type %>
    </div>
  </div>
<%= f.fields_for :personal_plants do |p| %>
  <div id="page-wrap">
    <div id="tabs">
      <ul>
        <li><a href="#fragment-1">Basic Information</a></li>
      </ul>
   
      <div id="fragment-1" class="ui-tabs-panel">
        <div class="field">
          <%= p.label :name_personalized %><br />
          <%= p.text_field :name_personalized %>
        </div>
        <div class="field">
          <%= p.label "Watering days per week: " %><br />
          <span>You've selected:</span> <span id="select-result"></span>
          <div id="slider"></div>
          <%= p.hidden_field :watering_frequency, :id => "water_frequency" %>
        </div>
      
      <%= p.fields_for :personal_plant_waterings do |w| %>
        
        <div class="field">
          <%= w.label :watering_time %><br />
          <%= w.text_field :watering_time, :id => "watering_last" %>
        </div>
        <div class="field">
          <%= w.label :watering_amount %><br />
          <%= w.text_field :watering_amount, :id => "watering_next"  %>
        </div>

      <% end %>
        
        <div class="field">
          <%= p.hidden_field :plant_id, { :value => @plant_id } %>
          <%= p.hidden_field :user_id, { :value => session[:user][:id] } %>
        </div>
      </div>
      <div>
        <% end %>
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    </div>
  </div>

<% end %>


<% end %>
