<%= render 'layouts/header' %>

<div data-role="content">

  <%= form_for @personal_plant do |p| %>
    <% if @personal_plant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

        <ul>
        <% @personal_plant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <span class="shrinkwrap"><b>Personalized name:</b></span>
      <%= p.text_field :name_personalized %>
    </div>

    <%= p.fields_for :plant do |f| %>
	    <div class="field">
	      <span class="shrinkwrap"><b>Common name:</b></span>
	      <%= f.text_field :name_common %>
	    </div>
	    <div class="field">
	      <span class="shrinkwrap"><b>Botanical name:</b></span>
	      <%= f.text_field :name_botanical %>
	    </div>
	    <div class="field">
	      <span class="shrinkwrap"><b>Type of plant:</b></span>
	      <%= f.text_field :plant_type %>
	    </div>
	    
	  <% end %>
    
    <div class="field">
      <%= p.hidden_field :garden_id, { :value => @garden_id } %>
      <%= p.hidden_field :plant_id, { :value => @plant_id } %>
      <%= p.hidden_field :user_id, { :value => session[:user][:id] } %>
    </div>
  
    <div class="actions">
      <%= p.submit %>
    </div>

	<% end %>

<%= render 'layouts/footer' %>

</div>