<%= render '/layouts/header' %>
<div data-role="content">
	
	
		<div data-role="collapsible" data-iconpos="right" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u" data-collapsed="false" data-inset="true">
  			<h3>Plant information</h3>
  			<div>
  				<span class="shrinkwrap">
  				<% if @personal_plant[:name_personalized] %>
      				<b><%= @personal_plant[:name_personalized] %></b>
      				<br />
      			<% end %>

      			<% if @personal_plant.plant.name_common %>  
      				<%= @personal_plant.plant.name_common %> 
	 			 <% end %>
	  			<% if @personal_plant.plant.name_botanical %>
      				<i>(<%= @personal_plant.plant.name_botanical %>)</i>
      				<br /><br />
      			<% end %>

      			<% if @personal_plant.plant.description %>
      				<b>Description:</b>
      				<%= @personal_plant.plant.description %>

      				<br /><br />
      			<% end %>
      			</span>
      			<a data-role="button" class="bottom_button" href="<%= edit_personal_plant_path %>">
          			Edit info
        		</a>
  			</div>
  		</div>
	
	
		<div data-role="collapsible" data-iconpos="right" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u">
			<h3>Watering calendar</h3>
			<div id="plant_watering">
    			<%= calendar do |date| %>
      			<%= date.day %>
      			<% if @personal_plant_waterings_by_date[date] then %>
        			<div class="watered">
          				<p> Watered </p>
        			</div>
      			<% end %>
      			<% if @next_watering == date then %>
        			<div class="water-next">
          				<p> WaterNext </p>
       			 	</div>
     			 <% end %>
    			<% end %>
  			</div>
  			<span class="shrinkwrap">
  			<div class="field">
    		<div class="left"><p>Watered</p> </div>
    		<div class="watered-key"></div>
    		<div class="left"><p>Next Watering</p> </div>
    		<div class="water-next-key"></div>
  			</div>
  			</span>
  		</div>
  		
</div>


<%if false%>
<% @page_title = @personal_plant.name_personalized %>
<div data-role="page" id="plant_info_one" data-url="<%= request.path %>">
  
  <%= render '/layouts/header' %>

  <p id="notice"><%= notice %></p>

  <div data-role="navbar" data-iconpos="left">
    <ul>
    	<li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_one" data-ajax="false" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
          Water
        </a>
      </li>
      <li>
      <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_two" data-theme="" data-icon="" data-ajax="false" >
          Info
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_three" data-ajax="false" data-theme="" data-icon="">
          Care
        </a>
      </li>
    </ul>
  </div>

  <h2>Click on a square to water your plant</h2>

  <div id="plant_watering">
    <%= calendar do |date| %>
      <%= date.day %>
      <% if @personal_plant_waterings_by_date[date] then %>
        <div class="watered">
          <p> Watered </p>
        </div>
      <% end %>
      <% if @next_watering == date then %>
        <div class="water-next">
          <p> WaterNext </p>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <div class="field">
    <div class="left">Key: </div>
    <div class="left"><p>Watered</p> </div>
    <div class="watered-key"></div>
    <div class="left"><p>Next Watering</p> </div>
    <div class="water-next-key"></div>
  </div>
        
<%= render '/layouts/footer' %>

</div>







<div data-role="page" id="plant_info_two">
  <%= render '/layouts/header' %>
  <div data-role="navbar" data-iconpos="left">
    <ul>
    	<li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_one" data-theme="" data-icon="">
          Water
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_two" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
          Info
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_three" data-theme="" data-icon="">
          Care
        </a>
      </li>
    </ul>
  </div>

  <div class="names">
    <div class="plant_name">
      <% if @personal_plant[:name_personalized] %>
      <b><%= @personal_plant[:name_personalized] %></b>

      <br />
      <% end %>

      <% if @personal_plant.plant.name_common %>  
      <%= @personal_plant.plant.name_common %> 
	  <% end %>
	  <% if @personal_plant.plant.name_botanical %>
      <i>(<%= @personal_plant.plant.name_botanical %>)</i>

      <br /><br />
      <% end %>

      <% if @personal_plant.plant.description %>
      <b>Description of plant:</b>
      <%= @personal_plant.plant.description %>

      <br /><br />
      <% end %>

      <p>Is any of this info incorrect or incomplete?</p>
      <div data-role="content">
        <a data-role="button" href="<%= edit_personal_plant_path %>">
          Edit Info Here
        </a>
      </div>

    </div>
  </div>


  
<%= render '/layouts/footer' %>

</div>


<div data-role="page" id="plant_info_three">
  <%= render '/layouts/header' %>
  <div data-role="navbar" data-iconpos="left">
    <ul>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_one" data-theme="" data-icon="">
          Water
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_two" data-theme="" data-icon="">
          Info
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_three" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
          Care
        </a>
      </li>
    </ul>
  </div>

  <div class="names">
    <div class="plant_name">
      <% if @personal_plant.plant.plant_type %>
      <b>Type of Plant:</b>
      <%= @personal_plant.plant.plant_type %>
      <% end %>
      
      <br /><br />
    <% if @personal_plant.plant.is_houseplant %>  
      <b>Is this plant a house plant:</b>
      <% if @personal_plant.plant.is_houseplant then %>
        Yes
      <% else %>
        No
      <% end %>
    <% end %>


      <% if @personal_plant.plant.watering_weekly_amount %>
      <b>How frequently to water your plant:</b>
      <%= @personal_plant.plant.watering_weekly_amount %> times per week
      <% end %>
      
      <br /><br />
      

      <% if @personal_plant.plant.sun_exposure %>
      <b>Percentage of Sun exposure your plant needs:</b>
      <%= @personal_plant.plant.sun_exposure %>% Sun
      <% end %>
    </div>
  </div>

  <%= render '/layouts/footer' %>
</div>

<%= render '/layouts/footer' %>













<% if false then %>
  <% if @personal_plant.plant.watering_frequency_old %>
  <b>Water frequency:</b>
  <%= @personal_plant.plant.watering_frequency_old %>
  <% end %>
<% end %>




  <% if false then %>
  <h1>Waterings for Plant</h1>

  <table>
    <tr>
      <th>Watering time</th>
      <th>Watering amount</th>
    </tr>

  <% @personal_plant_waterings.each do |personal_plant_watering| %>
    <tr>
      <td><%= personal_plant_watering.watering_time %></td>
      <td><%= personal_plant_watering.watering_amount %></td>
    </tr>
  <% end %>

  </table>
  <% end %>
  <%end%>
