

<div data-role="page" id="plant_info_one">
  <%= render '/layouts/header' %>

  <div class="plant_title">
    <h1><%= @personal_plant.name_personalized %></h1>
    <div data-role="navbar">
      <ul>
        <li>
          <a data-role="button" data-ajax="false" href="/gardens/<%= @personal_plant[:garden_id] %>">
            Plant's Garden
          </a>
        </li>
        <li>
          <a data-role="button" data-theme="e" data-ajax="false" href="/personal_plant_waterings/new?pp=<%= @personal_plant[:id] %>">
            Water Plant
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p id="notice"><%= notice %></p>

  <div data-role="navbar" data-iconpos="top">
    <ul>
    	<li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_one" data-ajax="false" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
          Info
        </a>
      </li>
      <li>
      <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_three" data-ajax="false" data-theme="" data-icon="">
          Caring
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_four" data-ajax="false" data-theme="" data-icon="">
          Watering
        </a>
      </li>
    </ul>
  </div>

  <div id="names">
    <div class="plant_name">
      <b>Plant Name:</b>
      <%= @personal_plant.plant.name_common %>
    </div>
    <div class="plant_name">
      <b>Botanical Name:</b>
      <%= @personal_plant.plant.name_botanical %>
    </div>
    <div class="plant_name">
      <b>Description:</b>
      <%= @personal_plant.plant.description %>
    </div>
  </div>

  <div id="names">
    <div class="plant_name">
      <b>Personalized Name:</b>
      <%= @personal_plant[:name_personalized] %>
    </div>
    <div class="plant_name">
      <b>Botanical Name:</b>
      <%= @personal_plant.plant.name_botanical %>
    </div>
    <div class="plant_name">
      <b>Description:</b>
      <%= @personal_plant.plant.description %>
    </div>
  </div>
  <%= render '/layouts/footer' %>
</div>

<div data-role="page" id="plant_info_three">
  <%= render '/layouts/header' %>
  <div class="plant_title">
    <h1><%= @personal_plant.name_personalized %></h1>
    <div data-role="navbar">
      <ul>
        <li>
          <a data-role="button" data-ajax="false" href="/gardens/<%= @personal_plant[:garden_id] %>">
            Plant's Garden
          </a>
        </li>
        <li>
          <a data-role="button" data-theme="e" data-ajax="false" href="/personal_plant_waterings/new?pp=<%= @personal_plant[:id] %>">
            Water Plant
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div data-role="navbar" data-iconpos="top">
    <ul>
    	<li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_one" data-ajax="false" data-theme="" data-icon="">
          Info
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_three" data-ajax="false" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
          Caring
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_four" data-ajax="false" data-theme="" data-icon="">
          Watering
        </a>
      </li>
    </ul>
  </div>
  <div id="plant-caring-info-wrapper">
    <div id="plant-basic-info">
      <b>Plant type:</b>
      <%= @personal_plant.plant.plant_type %>
      
      <br />
      
      <b>Is houseplant:</b>
      <%= @personal_plant.plant.is_houseplant %>
    </div>

    <div id="plant-water-info">
      <b>Water weekly:</b>
      <%= @personal_plant.plant.watering_weekly_amount %>
      
      <br />
      
      <b>Water frequency:</b>
      <%= @personal_plant.plant.watering_frequency_old %>
    </div>

    <div id="plant-sun-info">
      <b>Sun exposure:</b>
      <%= @personal_plant.plant.sun_exposure %> 
    </div>
  </div>
  <%= render '/layouts/footer' %>
</div>

<div data-role="page" id="plant_info_four">
  <%= render '/layouts/header' %>
  <div class="plant_title">
    <h1><%= @personal_plant.name_personalized %></h1>
    <div data-role="navbar">
      <ul>
        <li>
          <a data-role="button" data-ajax="false" href="/gardens/<%= @personal_plant[:garden_id] %>">
            Plant's Garden
          </a>
        </li>
        <li>
          <a data-role="button" data-theme="e" data-ajax="false" href="/personal_plant_waterings/new?pp=<%= @personal_plant[:id] %>">
            Water Plant
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div data-role="navbar" data-iconpos="top">
    <ul>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_one" data-theme="" data-icon="">
          Info
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_three" data-theme="" data-icon="">
          Caring
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_four" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
          Watering
        </a>
      </li>
    </ul>
  </div>
  <h1>Waterings for Plant</h1>

<table>
  <tr>
    <th>Watering time</th>
    <th>Watering amount</th>
  </tr>

<% @personal_plant_waterings.each do |personal_plant_watering| %>
  <tr>
    <td><%= personal_plant_watering.watering_time %></td>
    <td><%= personal_plant_watering.watering_amount %></td>
  </tr>
<% end %>
</table>
  <%= render '/layouts/footer' %>
</div>

