<p id="notice"><%= notice %></p>

<p>
  <b>Name personalized:</b>
  <%= @personal_plant.name_personalized %>
</p>

<p>
  <b>Last watering:</b>
  <%= @personal_plant.watering_last %>
</p>

<p>
  <b>Next watering:</b>
  <%= @personal_plant.watering_next %>
</p>

<p>
  <b>Plant:</b>
  <%= @personal_plant.plant %>
</p>
<p>
  <b>User:</b>
  <%= @personal_plant.user %>
</p>

