<p id="notice"><%= notice %></p>

<p>
  <b>Name personalized:</b>
  <%= @personal_plant.name_personalized %>
</p>

<p>
  <b>Last watering:</b>
  <%= @personal_plant.last_watering %>
</p>

<p>
  <b>Next watering:</b>
  <%= @personal_plant.next_watering %>
</p>

<p>
  <b>Plant:</b>
  <%= @personal_plant.plant %>
</p>
<p>
  <b>User:</b>
  <%= @personal_plant.user %>
</p>



<%= link_to 'Edit', edit_personal_plant_path(@personal_plant) %> |
<%= link_to 'Back', personal_plants_path %>
