<p id="notice"><%= notice %></p>

<p>
  <b>Name personalized:</b>
  <%= @personal_plant.name_personalized %>
</p>
<p>
  <b>Common Name:</b>
  <%= @personal_plant.plant.name_common %>
</p>
<p>
  <b>Botanical Name:</b>
  <%= @personal_plant.plant.name_common %>
</p>
<p>
  <b>User:</b>
  <%= @personal_plant.user.username %>
</p>

