<% @page_title = @personal_plant.name_personalized %>
<div data-role="page" id="plant_info_one">
  <%= render '/layouts/header' %>

  <p id="notice"><%= notice %></p>

  <div data-role="navbar" data-iconpos="left">
    <ul>
    	<li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_one" data-ajax="false" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
          Water
        </a>
      </li>
      <li>
      <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_two" data-ajax="false" data-theme="" data-icon="">
          Info
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_three" data-ajax="false" data-theme="" data-icon="">
          Care
        </a>
      </li>
    </ul>
  </div>




  <% if false then %>
  <h1>Waterings for Plant</h1>

  <table>
    <tr>
      <th>Watering time</th>
      <th>Watering amount</th>
    </tr>

  <% @personal_plant_waterings.each do |personal_plant_watering| %>
    <tr>
      <td><%= personal_plant_watering.watering_time %></td>
      <td><%= personal_plant_watering.watering_amount %></td>
    </tr>
  <% end %>

  </table>
  <% end %>


<<<<<<< HEAD



<div id="plant_watering">
  <%= calendar do |date| %>
    <%= date.day %>
=======
  <h1>Plant Calendar</h1>

  <div id="plant_watering">
    <%= calendar do |date| %>
      <%= date.day %>
>>>>>>> 74f5734ec456c00329408a5a04de666693a2aca5
    
      <% if @personal_plant_waterings_by_date[date] then %>
        <p> Watered </p>
      <% end %>
    <% end %>
  </div>
  
  <div>
    <a data-role="button" data-theme="e" data-ajax="false" href="/personal_plant_waterings/new?pp=<%= @personal_plant[:id] %>">
      Water Plant
    </a>
  </div>
  
  <%= render '/layouts/footer' %>
</div>

<div data-role="page" id="plant_info_two">
  <%= render '/layouts/header' %>
  <div data-role="navbar" data-iconpos="left">
    <ul>
    	<li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_one" data-ajax="false" data-theme="" data-icon="">
          Water
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_two" data-ajax="false" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
          Info
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_three" data-ajax="false" data-theme="" data-icon="">
          Care
        </a>
      </li>
    </ul>
  </div>

  <div id="names">
    <div class="plant_name">
      <b>Plant Name:</b>
      <%= @personal_plant.plant.name_common %>
    </div>
    <div class="plant_name">
      <b>Botanical Name:</b>
      <%= @personal_plant.plant.name_botanical %>
    </div>
    <div class="plant_name">
      <b>Description:</b>
      <%= @personal_plant.plant.description %>
    </div>
  </div>

  <div id="names">
    <div class="plant_name">
      <b>Personalized Name:</b>
      <%= @personal_plant[:name_personalized] %>
    </div>
    <div class="plant_name">
      <b>Botanical Name:</b>
      <%= @personal_plant.plant.name_botanical %>
    </div>
    <div class="plant_name">
      <b>Description:</b>
      <%= @personal_plant.plant.description %>
    </div>
  </div>


  
  <%= render '/layouts/footer' %>
</div>

<div data-role="page" id="plant_info_three">
  <%= render '/layouts/header' %>
  <div data-role="navbar" data-iconpos="left">
    <ul>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_one" data-theme="" data-icon="">
          Water
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_two" data-theme="" data-icon="">
          Info
        </a>
      </li>
      <li>
        <a href="/personal_plants/<%= @personal_plant[:id] %>#plant_info_three" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
          Care
        </a>
      </li>
    </ul>
  </div>

  <div id="plant-caring-info-wrapper">
    <div id="plant-basic-info">
      <b>Plant type:</b>
      <%= @personal_plant.plant.plant_type %>
      
      <br />
      
      <b>Is houseplant:</b>
      <%= @personal_plant.plant.is_houseplant %>
    </div>

    <div id="plant-water-info">
      <b>Water weekly:</b>
      <%= @personal_plant.plant.watering_weekly_amount %>
      
      <br />
      
      <b>Water frequency:</b>
      <%= @personal_plant.plant.watering_frequency_old %>
    </div>

    <div id="plant-sun-info">
      <b>Sun exposure:</b>
      <%= @personal_plant.plant.sun_exposure %> 
    </div>
  </div>

  <%= render '/layouts/footer' %>
</div>

