<%= render 'layouts/header' %>

<h1>Listing Personal Plant Waterings</h1>


<% if false then %>
<div data-role="content">
    <a data-role="button" data-ajax="false" href="/personal_plant_waterings/new?pp=<%= @personal_plant_waterings[0].personal_plant[:id] %>">
        Add Watering for plant
    </a>
    <a data-role="button" data-ajax="false" href="/personal_plants/<%= @personal_plant_waterings[0].personal_plant[:id] %>">
        Back to Personal Plant
    </a>
</div>

<table>
  <tr>
    <th>Watering time</th>
    <th>Watering amount</th>
    <th>Personal plant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personal_plant_waterings.each do |personal_plant_watering| %>
  <tr>
    <td><%= personal_plant_watering.watering_time %></td>
    <td><%= personal_plant_watering.watering_amount %></td>
    <td><%= personal_plant_watering.personal_plant %></td>
    <td><%= link_to 'Show', personal_plant_watering %></td>
    <td><%= link_to 'Edit', edit_personal_plant_watering_path(personal_plant_watering) %></td>
    <td><%= link_to 'Destroy', personal_plant_watering, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% end %>

<%= render 'layouts/footer' %>