<div data-role="page" id="plant_watering_info" data-url="<%= request.path %>">
<%= render 'layouts/header' %>

<h1>Watering for <%= params[:wt] %></h1>


<% i = 0 %>
<% @personal_plant_waterings.each do |personal_plant_watering| %>
  <% i += 1 %>
<% end %>

<% if i > 0 then %>
    <h3> You're plant was watered <%= i %> times on this day </h3>
<% else %>
    <h3> You haven't watered this plant yet, consider watering </h3>
<% end %>


<div data-role="content">
    <a data-role="button" data-ajax="false" href="/personal_plant_waterings/new?pp=<%= params[:pp] %>&wt=<%= params[:wt] %>">
        I watered this plant today!
    </a>
    <a data-role="button" data-ajax="false" href="/personal_plants/<%= @personal_plant[:id] %>">
        Back to Personal Plant Page
    </a>
</div>

<br />


<%= render 'layouts/footer' %>

</div>





<% if false then %>
<tr>
    <td><%= personal_plant_watering.watering_amount %></td>
    <td><%= link_to 'Show', personal_plant_watering %></td>
    <td><%= link_to 'Edit', edit_personal_plant_watering_path(personal_plant_watering) %></td>
    <td><%= link_to 'Destroy', personal_plant_watering, confirm: 'Are you sure?', method: :delete %></td>
  </tr>

<% end %>