
<div data-theme="b" data-role="header">

  <a data-role="button" data-rel="back" data-icon="back" style="margin-top:6px;">
  	Back
  </a>
  
  <h1><div id="header-img"></div></h1>
  
  <a data-rel="popup" href="#menupopup" data-icon="grid" class="ui-btn-right" style="margin-top:6px;">
  	Menu
   </a>
  
</div>

<div id="menupopup" data-role="popup" data-inset="true" data-mini="true">
	<div data-role="controlgroup" style="margin:0;">
 		<a data-role="button" href="/users/<%= session[:user][:id] %>">Home</a>
		<a data-role="button" href="/gardens?def=true">Gardens</a>
		<a data-role="button" href="/plants">Plants</a>
    </div>
</div>


<% if false then %>
  <% if @back_url then %>
<a data-role="button" href="<%= @back_url %>" data-icon="back" data-ajax="false" >
  <% else %>
    <a data-role="button" data-rel="back" href="#" data-icon="back" data-ajax="false">
  <% end %>
      <%= @back_label %>
    </a>




<div>
  <div data-theme="b" data-role="header">
    <ul>
      <li>
        <div class="header_third header_third_right">
          <% if session[:no_back] == nil then %>
            <% if @back_url != nil then %>
              <a data-role="button" href="<%= @back_url %>" data-ajax="false">
            <% else %>
              <a data-role="button" href="<%= request.referrer %>" data-ajax="false">
            <% end %>
              Back
            </a>
          <% else %>
            <% session[:no_back] = nil %>
          <% end %>
        </div>
      </li>
      <li>
        <div class="header_third header_third_center">
          Guardener
        </div>
      </li>
      <li>
        <div class="header_third header_third_right">
          <a href="/users/<%= session[:user][:id] %>" id="home" data-role="button" data-icon="custom" data-ajax="false">
            Account
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<% end %>

<!-- this was the button navigation system -->
<% if false then %>

  <div id="nav_bar_top">
    <ul>
      <li>
        <a href="#page1" data-theme="" data-icon="">
          Button
        </a>
         -&gt;
      </li>
      <li>
        <a href="#page1" data-theme="" data-icon="">
          Button
        </a>
         -&gt;
      </li>
      <li>
        <a href="#page1" data-theme="" data-icon="">
          Button
        </a>
         -&gt;
      </li>
      <li>
        <a href="#page1" data-theme="" data-icon="">
          Button
        </a>
      </li>
    </ul>
  </div>
  
  <!--- Old code for back button, not working properly, so implementing jQuery Mobile default back buttons --->
  <% if @back_label == nil then %>
    <% @back_label = "Back" %>
  <% end %>
  <% if @no_back == nil then %>
	 <% if @back_url != nil then %>
      <a data-role="button" href="<%= @back_url %>" data-icon="back" data-ajax="false" style="margin-top:6px;">
  	    <%= @back_label %>
      </a>
    <% else %>

    <% end %>
  <%end%>


<% end %>
