<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>




    <title>Guardener</title> 
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 


    <!--
    <link rel="/public/images/apple-touch-icon" href="/images/greentreesmall.jpg" />
    <link rel="/public/images/apple-touch-startup-image" href="/images/greentree.jpg">

    
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" /> -->

    <!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>-->
	
    <script src="http://jquerymobile.com/branches/popup-widget/js/jquery.js"></script>
    <script src="http://jquerymobile.com/branches/popup-widget/js/"></script>

    <link rel="stylesheet" type="text/css" href="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.min.css" /> 
    
    
    <link rel="stylesheet" type="text/css" href="/assets/themes/blackwhite.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile.structure-1.2.0.min.css" />
    <!-- <script type="text/javascript" src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script> -->

    <!-- Optional Mousewheel support: http://brandonaaron.net/code/mousewheel/docs -->
    <!-- <script type="text/javascript" src="PATH/TO/YOUR/COPY/OF/jquery.mousewheel.min.js"></script> -->



    <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.core.min.js"></script>
    <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.mode.calbox.min.js"></script>
    <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/i18n/jquery.mobile.datebox.i18n.en_US.utf8.js"></script>


    
    <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.mode.datebox.min.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCrxXb9yLLZowCmwgjL5GIxttE0nbkWrb0&sensor=false&libraries=weather"></script>
    <script>
    	function init_map() {
    		var mapOptions = {
    			zoom: 6,
    			center: new google.maps.LatLng(49.26, -123.12),
    			mapTypeId: google.maps.MapTypeId.ROADMAP
    		};
    		
    		var map = new google.maps.Map(document.getElementById('weather_map'), mapOptions);
    		
    		var weatherLayer = new google.maps.weather.WeatherLayer({
    			temperatureUnits: google.maps.weather.TemperatureUnit.FAHRENHEIT
    		});
    		weatherLayer.setMap(map);
    		
    		var cloudLayer = new google.maps.weather.CloudLayer();
    		cloudLayer.setMap(map);
    	}
    </script>



  </head>
  <body onload="init_map()">
  	<div class="container-background"></div>
    <%= yield %>
  </body>
</html>


<% if false then %>
<div data-role="page" data-url="<%= request.path %>">
<% end %>
