<!DOCTYPE html>
<html>
<head>
  <title>GardenCookbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>




  <title>Guardener</title> 
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  
  <link rel="/public/images/apple-touch-icon" href="/images/greentreesmall.jpg" />
  <link rel="/public/images/apple-touch-startup-image" href="/images/greentree.jpg">
  
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  
</head>
<body>
  <%= render 'layouts/header' %>
  
  <div class=container-header-under>
    <div class=container-body-center>
      <%= yield %>
    </div>
  </div>
</body>
</html>

<% if false then %>
  <%= render 'layouts/left_nav' %>
  <%= render 'layouts/right_nav' %>
<% end %>