<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>




    <title>Guardener</title> 
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 


    <!--
    <link rel="/public/images/apple-touch-icon" href="/images/greentreesmall.jpg" />
    <link rel="/public/images/apple-touch-startup-image" href="/images/greentree.jpg">
    -->
      <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" /> 
    <link rel="stylesheet" type="text/css" href="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.min.css" /> 
<link rel="stylesheet" href="/assets/stylesheets/plant_first_theme.min.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    
    <script type="text/javascript" src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script>

    <!-- Optional Mousewheel support: http://brandonaaron.net/code/mousewheel/docs -->
    <script type="text/javascript" src="PATH/TO/YOUR/COPY/OF/jquery.mousewheel.min.js"></script>

    <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.core.min.js"></script>
    <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.mode.calbox.min.js"></script>
    <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/i18n/jquery.mobile.datebox.i18n.en_US.utf8.js"></script>
	<style type="text/css">

</style>


  </head>
  <body>
    <%= yield %>
  </body>
</html>


<% if false then %>
<div data-role="page" data-url="<%= request.path %>">
<% end %>